/* Fonts*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

/* Normalizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", sans-serif;
  --color-gray-100: #e9ecef;
  --color-gray-600: #868e96;
  --color-gray-900: #212529;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0 auto;
}

.profile-card {
  margin-top: 3rem;
  width: 28rem;
  min-height: 40%;
  background-color: var(--color-gray-100);
  border: solid var(--border-size) var(--color-gray-600);
  border-radius: var(--border-radius);
  --border-radius: 2rem;
  --border-size: 0.25rem;
}

/* Profile Photo */
.card__img {
  width: 100%;
  border-top-left-radius: calc(var(--border-radius) - var(--border-size));
  border-top-right-radius: calc(var(--border-radius) - var(--border-size));
  overflow: hidden;
}

.card__img img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* Card header */
.card__header {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.9rem;
  margin-bottom: 1rem;
}

.card__header p {
  font-size: 1.15rem;
}

/* Skills */
.skills-bx {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

[class^="skill--"] {
  padding: 0.35rem 0.5rem;
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  display: inline-block;
  border-radius: 0.3rem;
  font-weight: 600;
}

.skill--blue {
  background-color: blue;
  color: var(--color-gray-900);
}

.skill--red {
  background-color: red;
  color: var(--color-gray-900);
}

.skill--orange {
  background-color: orange;
  color: var(--color-gray-900);
}

.skill--yellow {
  background-color: yellow;
  color: var(--color-gray-900);
}

.skill--lightgreen {
  background-color: lightgreen;
  color: var(--color-gray-900);
}

.skill--lightsalmon {
  background-color: lightsalmon;
  color: var(--color-gray-900);
}

.skill--cyan {
  background-color: cyan;
  color: var(--color-gray-900);
}
